<div class="inner-container">
    <form action="/" method="post">
        <p class="title">today Expenses</p>
        <div class="content calendars">
            <div class="inner-content calendar">
                <div>
                    <p class="label-title">From:</p>
                </div>
                <div class="calendar-container">
                    <label for="date">Date:</label>
                    <input type="date" name="date">
                </div>
            </div>
            <div class="inner-content calendar">
                <div class="">
                    <p class="label-title">Until:</p>
                </div>
                <div class="calendar-container">
                    <label for="date">Date:</label>
                    <input type="date" name="date">
                </div>
            </div>
        </div>
        <p class="title">Weekly Expenses</p>
        <div class="content calendars">
            <div class="inner-content calendar">
                <div>
                    <p class="label-title">From:</p>
                </div>
                <div class="calendar-container">
                    <label for="date">Date:</label>
                    <input type="date" name="date">
                </div>
            </div>
            <div class="inner-content calendar">
                <div class="">
                    <p class="label-title">Until:</p>
                </div>
                <div class="calendar-container">
                    <label for="date">Date:</label>
                    <input type="date" name="date">
                </div>
            </div>
        </div>
        <p class="title">Select Expenses</p>
        <div class="content calendars">
            <div class="inner-content calendar">
                <div>
                    <p class="label-title">From:</p>
                </div>
                <div class="calendar-container">
                    <label for="date">Date:</label>
                    <input type="date" name="date">
                </div>
            </div>
            <div class="inner-content calendar">
                <div class="">
                    <p class="label-title">Until:</p>
                </div>
                <div class="calendar-container">
                    <label for="date">Date:</label>
                    <input type="date" name="date">
                </div>
            </div>
        </div>
        <button type="submit">Display</button>
    </form>
    <img class="display-image" src="/img/tracking.jpeg" alt='logo' />
</div>