<div class="inner-container">
    <form action="/" method="post">
        <p class="title">Code</p>
        <div class="content">
            <div class="inner-content">
                <p class="uid">{{uid}}</p>
            </div>
        </div>
    </form>
    <img class="display-image" src="/img/tracking.jpeg" alt='logo' />
</div>
<div class="side-container">
    <div class="inner-container">
        <form action="/get_code/{{user.first_name}}" method="post">
            <p class="title">Welcome</p>
            <p class="name">{{user.first_name}}</p>
            <p class="email">{{user.email}}</p>
            <div class="content">
                <div class="inner-content">
                    <input name="code" class="email" type="text" placeholder="Enter code...">
                </div>
                <button class='login' type="submit">Sign in</button>
            </div>
        </form>
    </div>
</div>