<div class="inner-container">
    <form action="/api/signup" method="post">
        <p class="title">Sign up</p>
        <div class="content">
            <div class="inner-content">
                <input name="first_name" type="text" placeholder="Enter first name...">
            </div>
        </div>
        <div class="content">
            <div class="inner-content">
                <input name="last_name" type="text" placeholder="Enter last name...">
            </div>
        </div>
        {{!-- Dropdown gender --}}
        <div class="content">
            <div class="inner-content">
                <input name="email" class="email" type="email" placeholder="Enter email...">
            </div>
        </div>
        <button type="submit">Create Account</button>
    </form>
    <img class="display-image" src="/img/tracking.jpeg" alt='logo' />
</div>