<div class="inner-container">
    <form action="/api/signup" method="post">
        <p class="title">Sign up</p>
        <div class="content">
            <input name="first_name" type="text" placeholder="Enter first name...">
        </div>
        <div class="content">
            <input name="last_name" type="text" placeholder="Enter last name...">
        </div>
        <div class="content">
            <input name="email" class="email" type="email" placeholder="Enter email...">
        </div>
        <button type="submit">Create Account</button>
    </form>
</div>