<div class="inner-container">
    <form action="/api/signin" method="post">
        <p class="title">Welcome back</p>
        <div class="content">
            <div class="inner-content">
                <p></p>
            </div>
            <div class="inner-content">
                <input name="code" class="email" type="text" placeholder="Enter code...">
            </div>
        </div>
        <button type="submit">Sign in</button>
    </form>
    <img class="display-image" src="/img/tracking.jpeg" alt='logo' />
</div>