<div class="inner-container">
    <form action="/" method="post">
        <p class="title">Welcome</p>
        <div class="content">
            <div class="inner-content">
                <input name="name" class="email" type="email" placeholder="Enter name...">
            </div>
        </div>
        <button type="submit">Next</button>
    </form>
    <img class="display-image" src="/img/tracking.jpeg" alt='logo' />
</div>