<div class="inner-container">
    {{!-- <img src="img/blackwhite.png" class="display-image" alt='logo' /> --}}
    {{!-- <img src="img/whiteblack.png" class="display-image-two" alt='logo' /> --}}
    <form action="/" method="post">
        <div class="content">
            <p class="welcome-title">Welcome</p>
            <input name="name" class="name" type="name" placeholder="Enter name...">
            <button class="get-code" type="submit">Next</button>
        </div>
    </form>
</div>