<div class="inner-container">
    <form action="/" method="post">
        <div class="content">
            <p class="title">Welcome</p>
            <input name="name" class="name" type="name" placeholder="Enter name...">
            <button class="get-code" type="submit">Next</button>
        </div>
    </form>
</div>